/*$font-family-base : Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
*/

@import "bootstrap-sprockets";
@import "bootstrap";


body{
  margin-top: 60px;
}

.footer{
  margin-top: 50px;
  color: $gray-light;
  a{
    color: gray;
  }
}